body{
    background-color: rgb(71, 75, 73);
    padding: 50px 100px;
}
h1{
    text-align: center;
    background-color: #c2d0d3;
    border-radius: 5px;
    padding: 10px;
    /* margin: 0px; */
}
#textbox{
    font-size: 20px;
    outline: none;
    resize: none;
    text-align: start;
    margin-left: 0px;
    border: 1px solid black;
  /* width: 100%; */
    overflow: hidden;
    width: 99.6%;
}
p{
    text-align: center;
    background-color: #c2d0d3;
    font-size: 20px;
    font-weight: bold;
    padding: 12px;
    border-radius: 4px;
}